*{
  margin:auto;
  padding:0;
}
body{
  background:#777;
}
#contenedor{
  width:980px;
  heigth:980px;
  border:1px solid #454;
  border-radius:4px;
  background:#78c837;
}
h1{
  color:#fff;
  font-size:23px;
}
